<div class="report-container">
  <div class="report-title" role="banner">Labour cost report</div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="name">
    <th  mat-header-cell *matHeaderCellDef mat-sort-header> Payroll Provider </th>
    <td mat-cell *matCellDef="let displayList"> {{displayList.name}} </td>
    <td class="report-text_bold" mat-footer-cell *matFooterCellDef> {{ getTotals('Total') }}  </td>
  </ng-container>

  <ng-container matColumnDef="workerCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Worker </th>
    <td mat-cell *matCellDef="let displayList"> {{displayList.workerCount}} </td>
    <td class="report-text_bold"  mat-footer-cell *matFooterCellDef> {{ getTotals('workerCount') }} </td>
  </ng-container>

  <ng-container matColumnDef="complianceStats">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Compliance Score </th>
    <td mat-cell *matCellDef="let displayList"> {{displayList.complianceStats?.Total | number: '1.0-0'}}% </td>
    <td class="report-text_bold" mat-footer-cell *matFooterCellDef> 83% </td>
  </ng-container>
  <ng-container matColumnDef="blankColumn">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let displayList"> <span></span> </td>
    <td class="report-text_bold" mat-footer-cell *matFooterCellDef> <span></span></td>
  </ng-container>



  <ng-container matColumnDef="grossPayTotal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  Gross Pay </th>
    <td mat-cell *matCellDef="let displayList"> {{displayList.grossPayTotal | number: '1.0-0'}} </td>
    <td class="report-text_bold" mat-footer-cell *matFooterCellDef> {{ getTotals('grossPayTotal') | number: '1.0-0'}} </td>
  </ng-container>

  <ng-container matColumnDef="payrollAdminTotal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Payroll Admin </th>
    <td mat-cell *matCellDef="let displayList"> {{displayList.payrollAdminTotal}} </td>
    <td class="report-text_bold" mat-footer-cell *matFooterCellDef> {{ getTotals('payrollAdminTotal') }} </td>
  </ng-container>

  <ng-container matColumnDef="labourCostTotal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Labor Cost </th>
    <td mat-cell *matCellDef="let displayList"> {{displayList.labourCostTotal | number: '1.0-0'}} </td>
    <td class="report-text_bold" mat-footer-cell *matFooterCellDef> {{ getTotals('labourCostTotal') | number: '1.0-0'}} </td>
  </ng-container>

  <ng-container matColumnDef="blankColumn2">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let displayList"> <span></span></td>
    <td  mat-footer-cell *matFooterCellDef> <span></span></td>
  </ng-container>

  <ng-container matColumnDef="workerPercentage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Work Force </th>
    <td mat-cell *matCellDef="let displayList"> {{displayList.workerPercentage | number: '1.0-0'}}% </td>
    <td class="report-text_bold" mat-footer-cell *matFooterCellDef> 100% </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>
</div>

